# ðŸ“˜ Week 2 â€“ ETL Notebook
### *Business Intelligence Project â€“ Top 20 Stocks*
---
This notebook performs ETL (Extract, Transform, Load) on `raw_data.csv` and produces a clean dataset ready for BI analysis.
---

## Import Libraries

In [2]:
import pandas as pd
import numpy as np

##  Load Raw Data

In [3]:
df = pd.read_csv("raw_data.csv")
df.head()

,symbol,company_name,sector,industry,market_cap,beta,dividend_yield,pe_ratio,pb_ratio,ps_ratio,date,open,high,low,close,volume,adj_close
0,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,2023-12-13 00:00:00-05:00,47.629002,48.594002,47.608002,48.088001,447792000,48.061226
1,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,2023-12-14 00:00:00-05:00,48.389999,48.669998,47.422001,48.349998,391232000,48.323074
2,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,2023-12-15 00:00:00-05:00,48.194000,49.403999,48.119999,48.889999,479948000,48.862778
3,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,2023-12-18 00:00:00-05:00,49.400002,50.432999,49.150002,50.077000,412587000,50.049114
4,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,2023-12-19 00:00:00-05:00,49.424000,49.700001,48.895000,49.604000,464444000,49.576378

##  Inspect Data Structure

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10040 entries, 0 to 10039
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   symbol          10040 non-null  object
 1   company_name    10040 non-null  object
 2   sector          10040 non-null  object
 3   industry        10040 non-null  object
 4   market_cap      10040 non-null  int64
 5   beta            10040 non-null  float64
 6   dividend_yield  8534 non-null   float64
 7   pe_ratio        10040 non-null  float64
 8   pb_ratio        10040 non-null  float64
 9   ps_ratio        10040 non-null  float64
 10  date            10040 non-null  object
 11  open            10040 non-null  float64
 12  high            10040 non-null  float64
 13  low             10040 non-null  float64
 14  close           10040 non-null  float64
 15  volume          10040 non-null  int64
 16  adj_close       10040 non-null  float64
dtypes: float64(10), int64(2), object(5)
memory usage: 1.3+ MB

In [5]:
df.describe(include="all")

,symbol,company_name,sector,industry,market_cap,beta,dividend_yield,pe_ratio,pb_ratio,ps_ratio,date,open,high,low,close,volume,adj_close
count,10040,10040,10040,10040,1.004000e+04,10040.000000,8534.000000,10040.000000,10040.000000,10040.000000,10040,10040.000000,10040.000000,10040.000000,10040.000000,1.004000e+04,10040.000000
unique,20,20,7,16,NaN,NaN,NaN,NaN,NaN,NaN,502,NaN,NaN,NaN,NaN,NaN,NaN
top,NVDA,NVIDIA Corporation,Technology,Semiconductors,NaN,NaN,NaN,NaN,NaN,NaN,2023-12-13 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN
freq,502,502,2510,1004,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1.499738e+12,1.010550,1.370588,43.342853,18.764796,7.942064,NaN,292.301512,295.462583,289.053677,292.350077,3.606702e+07,289.537703
std,NaN,NaN,NaN,NaN,1.327405e+12,0.479422,1.041816,62.442624,19.212301,6.458122,NaN,202.213252,204.473429,199.870357,202.204237,7.481925e+07,201.009784
min,NaN,NaN,NaN,NaN,3.073952e+11,0.369000,0.020000,15.065574,0.001029,0.417100,NaN,30.750000,31.770000,30.629999,31.730000,9.550000e+05,30.242163
25%,NaN,NaN,NaN,NaN,4.820240e+11,0.687500,0.610000,20.072301,5.576651,2.710495,NaN,143.037502,145.000000,141.107502,143.035004,5.644150e+06,141.289242
50%,NaN,NaN,NaN,NaN,9.257750e+11,1.060500,0.810000,30.270292,9.668394,5.282640,NaN,229.709999,232.205002,227.104996,229.659996,1.426095e+07,228.992378
75%,NaN,NaN,NaN,NaN,1.822355e+12,1.268500,2.110000,36.804758,31.095587,12.955237,NaN,423.130005,426.735008,418.032501,422.937508,3.221838e+07,418.692253
max,NaN,NaN,NaN,NaN,4.261212e+12,2.284000,3.470000,312.217680,65.132670,22.769940,NaN,1102.000000,1111.989990,1098.099976,1109.939941,1.142269e+09,1109.939941

In [6]:
df.isna().sum()

symbol               0
company_name         0
sector               0
industry             0
market_cap           0
beta                 0
dividend_yield    1506
pe_ratio             0
pb_ratio             0
ps_ratio             0
date                 0
open                 0
high                 0
low                  0
close                0
volume               0
adj_close            0
dtype: int64

# fill missing dividend_yield values with  0
### we filled missing values with 0 because companies don't always pay dividends

In [7]:
df["dividend_yield"] = df["dividend_yield"].fillna(0)
df.isna().sum()

symbol            0
company_name      0
sector            0
industry          0
market_cap        0
beta              0
dividend_yield    0
pe_ratio          0
pb_ratio          0
ps_ratio          0
date              0
open              0
high              0
low               0
close             0
volume            0
adj_close         0
dtype: int64

##  Convert Date â†’ **dd/mm/yyyy** Format

In [8]:
df["date"] = pd.to_datetime(df["date"], utc=True)
df["date"] = df["date"].dt.tz_localize(None)
df["date"] = df["date"].dt.strftime("%d/%m/%Y")
df.head()

,symbol,company_name,sector,industry,market_cap,beta,dividend_yield,pe_ratio,pb_ratio,ps_ratio,date,open,high,low,close,volume,adj_close
0,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,13/12/2023,47.629002,48.594002,47.608002,48.088001,447792000,48.061226
1,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,14/12/2023,48.389999,48.669998,47.422001,48.349998,391232000,48.323074
2,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,15/12/2023,48.194000,49.403999,48.119999,48.889999,479948000,48.862778
3,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,18/12/2023,49.400002,50.432999,49.150002,50.077000,412587000,50.049114
4,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.321785,35.77678,22.76994,19/12/2023,49.424000,49.700001,48.895000,49.604000,464444000,49.576378

##  Convert Numeric Columns & Round Prices to 2 decimals

In [9]:
price_cols = ["open", "high", "low", "close", "adj_close"]
df[price_cols] = df[price_cols].astype(float).round(2)
df["pe_ratio"] = df["pe_ratio"].round(2)
df["pb_ratio"] = df["pb_ratio"].round(2)
df["ps_ratio"] = df["ps_ratio"].round(2)

df.head()

,symbol,company_name,sector,industry,market_cap,beta,dividend_yield,pe_ratio,pb_ratio,ps_ratio,date,open,high,low,close,volume,adj_close
0,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.32,35.78,22.77,13/12/2023,47.63,48.59,47.61,48.09,447792000,48.06
1,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.32,35.78,22.77,14/12/2023,48.39,48.67,47.42,48.35,391232000,48.32
2,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.32,35.78,22.77,15/12/2023,48.19,49.40,48.12,48.89,479948000,48.86
3,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.32,35.78,22.77,18/12/2023,49.40,50.43,49.15,50.08,412587000,50.05
4,NVDA,NVIDIA Corporation,Technology,Semiconductors,4261212061696,2.284,0.02,43.32,35.78,22.77,19/12/2023,49.42,49.70,48.90,49.60,464444000,49.58

# Remove volume outliers per stock using IQR rule

In [10]:
def remove_volume_outliers(df):
    cleaned = []

    for symbol, group in df.groupby("symbol"):
        Q1 = group["volume"].quantile(0.25)
        Q3 = group["volume"].quantile(0.75)
        IQR = Q3 - Q1

        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR

        group_clean = group[(group["volume"] >= lower) & (group["volume"] <= upper)]
        cleaned.append(group_clean)

    return pd.concat(cleaned, ignore_index=True)

df = remove_volume_outliers(df)
print("Outliers removed from volume column.")

Outliers removed from volume column.

##  Handle Missing Values
- Drop rows missing price data
- Fill missing metadata with "Unknown"

In [11]:
df = df.dropna(subset=price_cols)
df["sector"] = df["sector"].fillna("Unknown")
df["industry"] = df["industry"].fillna("Unknown")
df.head()

,symbol,company_name,sector,industry,market_cap,beta,dividend_yield,pe_ratio,pb_ratio,ps_ratio,date,open,high,low,close,volume,adj_close
0,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,13/12/2023,195.09,198.00,194.85,197.96,70404200,196.11
1,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,14/12/2023,198.02,199.62,196.16,198.11,66831600,196.26
2,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,18/12/2023,196.09,196.63,194.39,195.89,55751900,194.06
3,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,19/12/2023,196.16,196.95,195.89,196.94,40714100,195.10
4,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,20/12/2023,196.90,197.68,194.83,194.83,52242800,193.01

##  Remove Duplicates

In [12]:
df = df.drop_duplicates()
df.shape

(9439, 17)

##  Sort by Symbol + Date

In [13]:
df = df.sort_values(by=["symbol", "date"])
df.head()

,symbol,company_name,sector,industry,market_cap,beta,dividend_yield,pe_ratio,pb_ratio,ps_ratio,date,open,high,low,close,volume,adj_close
32,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,01/02/2024,183.99,186.95,183.82,186.86,64885400,185.11
50,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,01/03/2024,179.55,180.53,177.38,179.66,73563100,178.21
67,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,01/04/2024,171.19,171.25,169.48,170.03,46240500,168.65
299,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,01/04/2025,219.81,223.68,218.90,223.19,36412700,222.43
87,AAPL,Apple Inc.,Technology,Consumer Electronics,4129783545856,1.107,0.37,37.3,55.76,9.92,01/05/2024,169.58,172.71,169.11,169.30,50383100,167.93

##  Final Inspection

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9439 entries, 32 to 9212
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   symbol          9439 non-null   object
 1   company_name    9439 non-null   object
 2   sector          9439 non-null   object
 3   industry        9439 non-null   object
 4   market_cap      9439 non-null   int64
 5   beta            9439 non-null   float64
 6   dividend_yield  9439 non-null   float64
 7   pe_ratio        9439 non-null   float64
 8   pb_ratio        9439 non-null   float64
 9   ps_ratio        9439 non-null   float64
 10  date            9439 non-null   object
 11  open            9439 non-null   float64
 12  high            9439 non-null   float64
 13  low             9439 non-null   float64
 14  close           9439 non-null   float64
 15  volume          9439 non-null   int64
 16  adj_close       9439 non-null   float64
dtypes: float64(10), int64(2), object(5)
memory usage: 1.3+ MB

## Export Clean Dataset

In [15]:
df.to_csv("clean_data.csv", index=False)
print("clean_data.csv saved successfully!")

clean_data.csv saved successfully!